/* Importing external font styles */
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Press+Start+2P&display=swap");

/* Resetting default styles for margin, padding, and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling the body with gradient background animation */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  overflow-x: hidden; /* To hide horizontal scrolling */
  overflow-y: auto; /* To allow vertical scrolling */
  background: linear-gradient(
    45deg,
    #ff4e50,
    #fc913a,
    #eace42,
    #eaeaea,
    #e68dbc,
    rgba(252, 176, 69, 1),
    #eaeaea,
    #f0b630,
    #fc913a,
    #eaeaea,
    #ff4e50,
    #fc913a,
    #eace42,
    #eaeaea,
    #e68dbc,
    rgba(252, 176, 69, 1),
    #eaeaea
  );
  background-size: 300% 300%;
  animation: gradientAnimation 15s ease infinite;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  margin: 0.5rem;
  font-family: "Caveat", cursive;
  font-size: 4rem;
}

/* PADS */

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 1rem 0.5rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Added shadow effect */
}

.kick-pad {
  background: linear-gradient(to bottom, rgb(17, 201, 233), rgb(0, 122, 255));
  transform: translateZ(2px); /* 3D emboss effect */
}

.snare-pad {
  background: linear-gradient(to bottom, rgb(160, 248, 46), rgb(46, 204, 113));
  transform: translateZ(2px); /* 3D emboss effect */
}

.hihat-pad {
  background: linear-gradient(to bottom, rgb(228, 116, 51), rgb(255, 193, 7));
  transform: translateZ(2px); /* 3D emboss effect */
}

/* MOVEMENT */

.kick-pad.active {
  background: rgb(11, 26, 233);
  box-shadow: 0 0 10px rgba(11, 26, 233, 0.8); /* Groove effect */
}

.snare-pad.active {
  background: rgb(8, 126, 57);
  box-shadow: 0 0 10px rgba(8, 126, 57, 0.8); /* Groove effect */
}

.hihat-pad.active {
  background: rgb(245, 98, 12);
  box-shadow: 0 0 10px rgba(245, 98, 12, 0.8); /* Groove effect */
}

.sequencer {
  display: flex;
  flex-direction: column; /* Changed to column for mobile devices */
  align-items: center;
  justify-content: center;
}

.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  margin-top: 2rem; /* Reduced top margin */
}

.kick,
.snare,
.hihat {
  display: flex;
  min-width: 390px;
  flex-wrap: wrap; /* Allows columns to adjust side by side */
  margin-top: 1rem; /* Adjusted top margin */
}

.controls {
  display: flex;
  flex-direction: column; /* Changed to column for mobile devices */
  align-items: center;
  flex: 1;
  margin: 1rem; /* Adjusted margin */
}

.controls button {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background: linear-gradient(
    rgb(84, 4, 79),
    rgb(120, 74, 112),
    rgb(220, 64, 64)
  );
  color: rgb(255, 255, 255);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  margin: 0.5rem; /* Adjusted margin */
}

.controls button:hover {
  background: rgb(201, 191, 191);
}
.controls button:active {
  transform: translateY(2px);
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-family: "Press Start 2P", system-ui;
  background: linear-gradient(
    rgb(84, 4, 79),
    rgb(120, 74, 112),
    rgb(220, 64, 64)
  );
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 10px; /* Added radius for rounded shape */
  transition: background-color 0.3s, transform 0.3s; /* 3D effect transition */
}

.play:hover {
  background: linear-gradient(
    rgb(156, 8, 146),
    rgb(181, 111, 170),
    rgb(220, 64, 64)
  );
}

.play:active {
  transform: translateY(2px); /* 3D effect when button is pressed */
}

select {
  padding: 1rem;
  font-size: 1rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 10px;
  background: rgb(248, 244, 244);
  color: #794bd0; /* Text color */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* 3D effect transition */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Text shadow */
}

.mute.active {
  background: rgb(201, 191, 191);
}

.tempo {
  margin: 1rem; /* Adjusted margin */
  width: 80%; /* Adjusted width */
}

.tempo-slider {
  padding: 0.1rem;
  margin: 0.5rem 0; /* Adjusted margin */
  width: 100%;
  position: relative;
  cursor: pointer;
  border-radius: 1rem;
  background: linear-gradient(
    to right,
    #40fcd7,
    #19c7f2
  ); /* Neon color gradient */
  border: 2px solid #00ccff; /* Slider border */
}

.tempo-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px; /* Slider thumb width */
  height: 20px; /* Slider thumb height */
  background: #fff; /* Thumb color */
  border: 2px solid #00ccff; /* Thumb border */
  border-radius: 50%; /* Round the thumb */
  cursor: pointer;
  margin-top: -8px; /* Adjust thumb position */
}

.tempo-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #00ccff;
  border-radius: 50%;
  cursor: pointer;
}

.tempo p {
  font-size: 1.7rem;
  margin: 1rem;
  text-align: center;
  font-style: italic;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  color: #340689;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

/* Media queries for mobile devices */
@media screen and (max-width: 954px) {
  /* Adjustments for smaller screens */
  .kick,
  .snare,
  .hihat {
    flex-direction: row; /* Changed to row for mobile devices */
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap; /* Allows columns to adjust side by side */
  }

  .kick-pad,
  .snare-pad,
  .hihat-pad {
    margin: 0.5rem; /* Adjusted margin */
  }

  .kick-track,
  .snare-track,
  .hihat-track {
    flex-direction: column; /* Changed to column for mobile devices */
    align-items: center;
    justify-content: center;
    width: calc(
      50% - 1rem
    ); /* Adjusted width to fit two columns in a row with margin in between */
    margin-top: 1rem; /* Adjusted top margin */
  }

  .controls {
    flex-direction: row; /* Changed to row for mobile devices */
    justify-content: space-between;
    margin: 0.5rem; /* Adjusted margin */
  }

  .controls button {
    margin: 0.5rem; /* Adjusted margin */
  }

  .play,
  .tempo {
    width: calc(50% - 1rem); /* Adjusted to 50% to occupy half of the width */
    margin-top: 1rem; /* Adjusted top margin */
  }
}

/* Media queries for larger screens */
@media screen and (min-width: 955px) {
  /* Adjustments for larger screens */
  .kick,
  .snare,
  .hihat {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .kick-track,
  .snare-track,
  .hihat-track {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
  }

  .controls {
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
  }

  .controls button {
    margin: 0.5rem;
  }

  .play,
  .tempo {
    width: 50%;
    margin-top: 1rem;
  }
}
